<!DOCTYPE html>
<html>
<head>
  <title> Ugly Rock - Paper - Scissors</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <nav> 
    <ul>
      <li><a href='/result/rock/paper'>See Winner!</a></li>
    </ul>
  </nav>

</body>
</html>