<!DOCTYPE html>
<html>
<head>
  <title>Game</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <nav>
    <ul>
    <li><a href=''>Play - Under Constuction</a></li>
    <li><a href="/rules">Rules</a></li>
    </ul>
  </nav>
 
  <%= yield %>
</body>
</html>